
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/_AdminsLayout/AdminsLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>